:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  background-color: #292929;
  border-radius: 10px;
  padding: 25px;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#galleryButtons{
  margin : 40px;
  background-color: #292929;
  border-radius: 10px;
  padding: 15px;
  margin:10px;
}

.changeButton{
margin:2px;
}

#zombieGallery{
  display: flex;
  flex-direction: row;
  background-color: #292929;
  border-radius: 10px;
}

.zombie-parts {
  position: relative;
  min-width:30vh;
  max-width:30vh;
  min-height: 40vh ;
  max-height: 40vh ;
  margin-left: 5vh;
  margin-right: 5vh;
  margin-top: 10vh;
  margin-bottom: 10vh;

  .head {
    width: 28vh;
    position: absolute;
    left: 3vh;
    top: 0vh;
  }

  .eye {
    width: 13vh;
    position: absolute;
    left: 13vh;
    top: 12vh;
  }


  .shirt {
    width: 13vh;
    position: absolute;
    left: 5.6vh;
    top: 17vh;
  }
}

.mouth {
  width: 6vh;
  position: absolute;
  left: 16.6vh;
  top: 19vh;
}

.torso {
  width: 13vh;
  position: absolute;
  left: 5.6vh;
  top: 17vh;
}

.left-thigh {
  width: 6vh;
  position: absolute;
  left: 7.3vh;
  top: 26vh;
}

.right-thigh {
  width: 6vh;
  position: absolute;
  left: 10.4vh;
  top: 26vh;
}

.cat-legs {
  width: 10vh;
  position: absolute;
  left: 5.4vh;
  top: 22vh;
}

.left-hand {
  width: 4vh;
  position: absolute;
  left: 14.3vh;
  top: 23vh;
}

.right-hand{
  width: 4vh;
  position: absolute;
  left: 18.4vh;
  top: 23vh;
}

.left-forearm {
  width: 4vh;
  position: absolute;
  left: 12.3vh;
  top: 24vh;
}

.right-forearm {
  width: 4vh;  
  position: absolute;
  left: 16.4vh;
  top: 24vh;

}

.left-upper-arm {
  width: 6vh;
  position: absolute;
  left: 9.3vh;
  top: 20vh;
}

.right-upper-arm {
  width: 6vh;
  position: absolute;
  left: 13.4vh;
  top: 20vh;
}

.left-leg {
  width: 4vh;
  position: absolute;
  left: 8.3vh;
  top: 31vh;
}

.right-leg {
  width: 3.3vh;
  position: absolute;
  left: 12.3vh;
  top: 31.6vh;
}

.left-feet {
  width: 4vh;
  position: absolute;
  left: 8.3vh;
  top: 34vh;
}

.right-feet {
  width: 3.3vh;
  position: absolute;
  left: 12.3vh;
  top: 34.3vh;
}

.zombie-name {
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 5px 5px 5px rgba(0,0,0,0.2);
  font-size: 20px;;
}

.details{
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding :10px;
  max-width: 400px;
}

.infos{
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin :20px;
}

.info{
  margin : 5px;
}

.DNAform {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin:15px;
  background-color: #464646;
  border-radius: 10px;
  padding:8px;
}

#newName{
  margin: 10px;
}

.inputText{
  font-size: 13px;
}

.nameForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:15px;
  background-color: #464646;
  border-radius: 10px;
  padding:8px;
}

.DNAparts{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.adnInput{
  width: 33px;
  margin-left: 3px;
}

.adnInputText{
  margin: 2px;
  font-size: 13px;
}

.adnPartForm{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}